
<div class="ui container">
<div class="ui grid">
<div class="ui six wide column">

<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


</div>
</div>
</div>
