<div class="ui container">
<div class="ui grid">
<div class="eight wide column">
<h1>Add Unit</h1>

<%= render 'form' %>


</div>
<div class="eight wide column">
  <div class="ui info message">
  <div class="header">Tips:</div>
  <ul class="ui list">
    <li>If a lot' status marked as SOLD, it will not display the price. the Price column will be replaced by a <span class="ui tiny orange label margin-left-15">SOLD</span> label</li>
  </ul>
  </div>
</div>
</div>
</div>