<div class="ui top fixed blue inverted menu">
  <a class="header item project-logo">
    <img src="assets/naia-broadbeach.png" alt=""><span>Naia, Broadbeach</span>
  </a>
      
  <div class="item">
    <%= link_to "Marketing Colleteral", documents_path %>
  </div>
  <div class="item">
    <%= link_to "Stock List", "#" %>
  </div>

  <div class="right menu">
    <div class="item">
      <i class="bell icon"></i>
    </div>
    <div class="item">
      <i class="cog icon"></i>
    </div>
  </div>
  
</div>